# 선문대학교

안녕하세요  
홍길동

Ctrl + Enter   실행  
새로운 셀 삽입은 a(위에 삽입, above), b(아래 삽입, below)을 입력한다  
출력 화면을 감추려면/다시보려면 'o'를 입력

In [11]:
price = int(input("물건가격입력 : "))
buy = int(input("구매개수입력 : "))
pay = int(input("지불금액입력 : "))

returns = pay - price * buy

print("물건가격 :", price, "원")
print("구매개수 :", buy, "개")
print("지불금액 :", price * buy, "원")
print("거스름돈 :", returns, "원")

물건가격입력 : 800
구매개수입력 : 3
지불금액입력 : 5000
물건가격 : 800 원
구매개수 : 3 개
지불금액 : 2400 원
거스름돈 : 2600 원

In [20]:
name = input("학생 이름을 입력하세요 : ")
kor = int(input("국어 성적을 입력하세요 : "))
eng = int(input("영어 성적을 입력하세요 : "))
math = int(input("수학 성적을 입력하세요 : "))

total = kor + eng + math
avg = round(total / 3, 1)

#print("이름: %s, 국어: %d, 영어: %d, 수학: %d, 평균:%.1f" % (name, kor, eng, math, avg))
print(f"이름:{name}, 국어:{kor}, 영어:{eng}점, 수학:{math}점, 평균:{avg}점")

학생 이름을 입력하세요 : 황예린
국어 성적을 입력하세요 : 85
영어 성적을 입력하세요 : 83
수학 성적을 입력하세요 : 91
이름:황예린, 국어:85, 영어:83점, 수학:91점, 평균:86.3점

연, 월, 일을 입력받아 ####-##-##의 형태로 출력하는 프로그램을 작성하시오.  
단, 실행결과에서와 같이 월과 일에 1~9의 숫자가 입력되면 그 숫자 앞에 0을 채운다.  

연을 입력하세요 : 2020  
월을 입력하세요 : 1  
일을 입력하세요 : 5  
2020-01-05

In [27]:
year = int(input("연을 입력하세요 : "))
month = int(input("월을 입력하세요 : "))
day = int(input("일을 입력하세요 : "))

print("%04d-%02d-%02d" % (year, month, day))

연을 입력하세요 : 2021
월을 입력하세요 : 9
일을 입력하세요 : 14
2021-09-14

# IF

In [24]:
month = int(input("월을 입력하세요 : "))
if month >= 3 and month <= 5 :
    print("%d월은 봄입니다." % month)
elif month >= 6 and month <= 8 :
    print("%d월은 여름입니다." % month)
elif month >= 9 and month <= 11 :
    print("%d월은 가을입니다." % month)
elif month == 12 or month == 1 or month == 2 :
    print("%d월은 겨울입니다." % month)
else :
    print("잘못 입력했습니다.")

월을 입력하세요 : 9
9월은 가을입니다.

In [62]:
num = int(input("숫자를 입력하세요 : "))
result = "4의 배수도 5의 배수도 아니다."

if num == 0:
    result = "나눌 수 없습니다."
elif num % 4 == 0 :
    result = "4의 배수이다."
elif num % 5 == 0 :
    result = "5의 배수이다."
elif num % 4 == 0 and num % 5 == 0:
    result = "4의 배수이면서 5의 배수이다."

print("%d은(는) %s" % (num, result))

숫자를 입력하세요 : 8
8은(는) 4의 배수이다.

In [68]:
buy = int(input("물건 구매가를 입력하세요 :" )) 
if buy >= 10000 and buy < 50000 : 
   rate = 5
elif buy >= 50000 and buy < 300000 : 
   rate = 7.5 
elif buy >= 300000 : 
   rate = 10
else : 
   rate = 0 
    
discount = buy * rate / 100 
pay = buy - discount 

print('구매가 : %.0f원' % buy) 
print('할인율 : %.1f%%' % rate) 
print('할인 금액 : %.0f원' % discount) 
print('지불 금액 : %.0f원' % pay)

물건 구매가를 입력하세요 :330000
구매가 : 330000원
할인율 : 10.0%
할인 금액 : 33000원
지불 금액 : 297000원

In [77]:
print("서비스 만족도 : ")
print("  1: 매우만족")
print("  2: 만족")
print("  3: 불만족 서비스")

a = input("서비스 만족도를 입력해주세요(예: 1 또는 2 또는 3) : ")
price = int(input("음식값을 입력해주세요(예:8000) : "))

if a == "1":
    tip = int(price * 0.2)
    service = "매우 만족"
elif a == "2":
    tip = int(price * 0.1)
    service = "만족"
else:
    tip = int(price * 0.05)
    service = "불만족"
    
print()
print("서비스 만족도 : %s, 팁 : %d원" % (service, tip))

서비스 만족도 :
  1: 매우만족
  2: 만족
  3: 불만족 서비스
서비스 만족도를 입력해주세요(예: 1 또는 2 또는 3) : 1
음식값을 입력해주세요(예:8000) : 80000

서비스 만족도 : 매우 만족, 팁 : 16000원

# 반복문 : 특정 코드를 반복 실행  
 ### 반복문의 두 가지  
     - For문  
     - While문

In [81]:
for i in range(1, 11, 2):
    print(i, end = " ")

1 3 5 7 9

In [82]:
for i in range(1, 101, 1):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [83]:
for i in range(100, 0, -1):
    print(i, end = " ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [99]:
hap = 0
for i in range(1, 101, 1):
    if i % 3 == 0:
        print("%d " % i, end = " ")
        hap = hap + i
print("\n","-"*50)
        
print("1~100에서 3의 배수의 합계 :", hap)

3  6  9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54  57  60  63  66  69  72  75  78  81  84  87  90  93  96  99
 --------------------------------------------------
1~100에서 3의 배수의 합계 : 1683

In [104]:
hap = 0

n1 = int(input("시작 수 : "))
n2 = int(input("끝 수 : "))

for i in range(n1, n2+1, 1):
    if i % 5 != 0:
        print("%d " % i, end = " ")
        hap = hap + i
print("\n","-"*50)
        
print("1~100에서 5의 배수가 아닌 것의 합계 :", hap)

시작 수 : 100
끝 수 : 200
101  102  103  104  106  107  108  109  111  112  113  114  116  117  118  119  121  122  123  124  126  127  128  129  131  132  133  134  136  137  138  139  141  142  143  144  146  147  148  149  151  152  153  154  156  157  158  159  161  162  163  164  166  167  168  169  171  172  173  174  176  177  178  179  181  182  183  184  186  187  188  189  191  192  193  194  196  197  198  199
 --------------------------------------------------
1~100에서 5의 배수가 아닌 것의 합계 : 12000

In [109]:
number = input("하이픈을 넣던 말던 휴대폰 번호를 입력하세요 : ")
for x in number:
    if x != "-":
        print("%s" % x, end = "")

하이픈을 넣던 말던 휴대폰 번호를 입력하세요 : 010-30302222
01030302222

In [112]:
phone = input("하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요 : ")
number = ""

for i in range(0, len(phone), 1):
    if i == 2:
        number = number + (phone[2]+"-")
    elif i == 6:
        number = number + (phone[6]+"-")
    else:
        number = number + phone[i]
print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요 : 01044443333
010-4444-3333